
.frgtpassword-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}    


.frgtpassword-title-c {
    display: flex;
    align-items: center;
    justify-content: center;
}    

.frgtpassword-title-pink {
    color: var(--primary-color2);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-left: 10px;
    align-self: flex-start;
}    

.frgtpassword-title {
    margin: 0;
    color: var(--primary-color1);
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    white-space: nowrap;
}    

.frgtpassword-description {
    margin-top: 10px;
    color: var(--primary-color1);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    white-space: nowrap;
}    

.frgtpassword-input-c {
    margin-top: 7vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    width: 400px;
}    

.frgtpassword-pass {
    display: flex;
    flex-direction: column;
}    

.frgtpassword-fpass-raw {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--primary-color1);
    margin: 5px 0;
    align-self: flex-end;
}    

.frgtpassword-fpass {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--primary-color1);
    text-decoration: underline;
    margin: 5px 0;
    align-self: flex-end;
    cursor: pointer;
}    

.frgtpassword-fpass:hover {
    font-weight: 600;
}    



.frgtpassword-carts-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin: 0 3vw 4vh auto;
}

.frgtpassword-carts-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    margin: 5px 0;
    align-self: center;
    max-width: 350px; 
    margin-bottom: 5vh;
}


.frgtpassword-carts {
    width: 35vw;
}

@media screen and (max-width: 900px) {
    .frgtpassword-c {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
        width: 90%;
        padding: 50px 0;
        align-self: center;
    }

    .frgtpassword-title {
        font-size: 35px;
    }

    .frgtpassword-title-pink {
        font-size: 40px;
    }

    .frgtpassword-description {
        white-space: normal;
    }

    .frgtpassword-input-c {
        width: 100%;
        min-width: 250px;
        max-width: 400px;
    }
}


@media screen and (max-width: 400px) {
    .frgtpassword-title {
        font-size: 7vw;
    }

    .frgtpassword-title-pink {
        font-size: 8vw;
    }

    .frgtpassword-fpass-raw, .frgtpassword-fpass {
        font-size: 3vw;
    }

    .frgtpassword-description {
        font-size: 3vw;
        white-space: normal;
    }
}