.pickmenusmall {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.pickmenusmall-title {
    color: var(--primary-color1);
    font-size: 16px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    align-self: flex-start;
    margin: 0 0 3px 0;
}

.pickmenusmall-select {
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    background-color: var(--primary2);
    color: var(--primary-color1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.pickmenusmall-options-placeholder {
    color: var(--primary-color1);
    font-size: 14px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.pickmenusmall-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--primary2);
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 2;
}

.pickmenusmall-options {
    margin: 0;
    color: var(--primary-color1);
    font-size: 14px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0 15px;
    cursor: pointer;
}

.pickmenusmall-options:hover {
    background-color: var(--primary4);
}


